<div class="center padded white-bg">
    <div class="content padded">
        <div class="padded">
            <h1>Mira lo que he construído!</h1>
        </div>
        <div class="row">
            <div class="card third">
                <h3>Calculadora</h3>
                <p>Una aplicacion que realizará calculos matemáticos.</p>
                <a class="orange" href="{{ url_for('static', filename='calculadora.exe') }}">Link aqui</a>
            </div>
            <div class="card third">
                <h3>Gestor de clientes</h3>
                <p>Una aplicacion para gestionar mis clientes.</p>
                <a class="orange" href="{{ url_for('static', filename='libreta-clientes.exe') }}">Link aqui</a>
            </div>
            <div class="card third">
                <h3>Gestor de tareas</h3>
                <p>Una aplicacion para gestionar mis tareas.</p>
                <a class="orange" href="{{ url_for('static', filename='db.exe') }}">Link aqui</a>
            </div>
        </div>    
    </div>
</div>